.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navCss{
  background-color: #3F9C4F;
}

.bg{
  background-image: url("./img/bg1.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.formConnexion{
  
  width: 20vw;
  position: absolute;
  margin-left: 20vw;
  top: 25vh;
  background-color: azure;
  opacity: 0.9;
  z-index: 10;
}

#logo-afpa{
  display: block;
  margin: auto;
  margin-bottom: 10%;
  height: 25vh;
  /*width: 25vw;*/
  ;
}

#menu-data-1{
  z-index: 20;
}
.cardtop{
  position: absolute;
  top: 10vh;
}

.card-img-top{
  height: 200px;
}
.container-data{
  padding-top: 50px;
  padding-left: 10%;
}

.formulaire-creation, .modification-utilisateur, .modification-type-salle, .voir-salle {
  
    position: absolute;
    left: 20vw;
    top: 20vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    padding: 2%;
    width: 60vw;
    z-index: 12;
}

.btn-form-create{
  display: block;
  margin: auto;
}

h4{
  font-weight: bold;
}
.title-form{
  text-align: center;
  margin-bottom: 5%;
}

label {
  font-weight: bold;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carouss{
  
    margin-top: 3vw;
    margin-bottom: 3vw;
  
}

.MDBCol{
  text-align: center;
}

.card-deck{
  margin-top: 3vw;
  margin-bottom: 3vw;

}

.presentation{
  margin-top: 3vw;
  margin-bottom: 3vw;
  text-align: center;

}



